<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="isoLanguageName" value="en_US" />
    <add key="allowContact" value="true" />
    <add key="useSMTP" value="true" />    <!-- false; use outlook mapi to send, yes means use a direct smtp connection to send. -->
    <add key="smtpServer" value="localhost" />
    <add key="reportFrom" value="noreply@localhost" /> <!-- Only used when using SMTP -->
    <add key="reportTo" value="noreply@localhost" />
    <add key="username" value="" />
    <add key="password" value="" />    <!-- this is plain text; only use when you really have to, and make sure no one can read the file but Unagi -->
  </appSettings>
</configuration>